<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login {{texto}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">{{texto}} <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="correo" type="email" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repetir contrseña <ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-radio-group value="m">
      <ion-label position="inline"> Sexo</ion-label>
      <ion-item>
        <ion-label > Femenino</ion-label>
        <ion-radio slot="start" value="f" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label > Masculino</ion-label>
        <ion-radio color="danger" slot="start" value="m"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <ion-button (click)="guardar()" color="primary" expand="block">Guardar</ion-button>


</ion-content>
